<div class="loginBody">
    <div id="loginheading">
        <table width="100%">
            <tr>
                <td align="left">
                    <img src="images/ust_logo.png" height="80px" width="250px">
                </td>
                <td align="right">
                    <img src="images/new_walmart_logo.png" height="70px"
                         width="250px">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div id="reset">
        <h2>
            <span class="fontawesome-lock"></span>Reset Password
        </h2>
        <form  ng-submit="resetPassword()">
            <fieldset>
            
                <p>
					 	<label for="name"><b>old password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
						<input type="password" name="oldPassword" ng-model="oldPassword"
                                          placeholder="old password" >
				</p>

				<p>
					<label for="name"><b>new password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></label>
                    <input type="password" name="newPassword" ng-model="newPassword"
                                          placeholder="new password" >
				</p>
				<p>
				<label for="password">confirm password: </label> 
                <input type="password" name="confirmPassword" ng-model="confirmPassword"
                                          placeholder="confirm password">
				</p>
				<center>
                 <button type="submit" class="btn btn-success btn-sm">Reset password</button>
                </center>

			</fieldset>
        </form>
    </div>
</div>




