<div class="loginBody">
    <div id="loginheading">
        <table width="100%">
            <tr>
                <td align="left">
                    <img src="images/ust_logo.png" height="80px" width="250px">
                </td>
                <td align="right">
                  <img src="images/axis-2-walmart-logo-white-2.png" height="80px" width="250px">
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div id="login">
        <h2>
            <span class="fontawesome-lock"></span>Login
        </h2>
         <form ng-submit="register()">
            <fieldset>
                <p>
                    <label for="name">Username:</label>
                    <input type="text" name="username" ng-model="username" placeholder="username">
                </p>
                <p>
                    <label for="password">Password:</label> <input type="password" name="password" ng-model="password" placeholder="password">
                </p>
                <center>
                    <button type="submit" class="btn btn-success btn-sm">Login</button>
                </center>
            </fieldset>
        </form>
    </div>
</div>
